@font-face {
    font-family: 'Open Sans';
    src: url('../font/OpenSans-Semibold.ttf');
    font-weight: normal;
    font-style: normal;
}
.item {
  text-align: center;
  margin-left: : 2%;
  padding: 2em;
  font-size: 15px;
  float: left;
  /*width: 43%;*/
  font-family: "Open Sans";
}
.title {
  background-color: #58585a;
  font-size: 50px;
  color: white;
}
.sub-title {
  font-size: 25px;
  margin-top: 5px;
}
.content {
  font-size: 20px;
  line-height: 5%;
}